{% extends 'store/main.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block content%}

<div>
    <div class = "row">
        {% for product in products %}
            <div class="col-lg-3">
                <img class= "thumbnail" src="{{ product.image.url }}" alt="">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" class="btn update-cart">Add to cart</button>
                    <h6 style="display: inline-block; float: right;">{{product.price|floatformat:2}}£</h6>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>
{% endblock content%}


       